@font-face {
	font-family: "goudy-bookletter";
	src: url("../fonts/goudy_bookletter_1911-webfont.woff") format('woff');
}

@font-face {
	font-family: "leaguegothic";
	src: url("../fonts/leaguegothic-regular-webfont.woff") format('woff');
}

@font-face {
	font-family: "leaguegothic";
	src: url("../fonts/leaguegothic-italic-webfont.woff") format('woff');
	font-style: italic;
}

@font-face {
	font-family: "leaguegothic";
	src: url("../fonts/leaguegothic-condensed-regular-webfont.woff") format('woff');
	font-stretch: condensed;
}

@font-face {
	font-family: "leaguegothic";
	src: url("../fonts/leaguegothic-condensed-italic-webfont.woff") format('woff');
	font-stretch: condensed;
	font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: leaguegothic;
}

header, section, footer {
	width: 100%;
	padding: 80px 7%;
	display: table;
	margin: 0;
	max-width: none;
	background-color: #23251F;
	padding-top: 80px;
}

hX {
	margin-left: 5px;
	color: #AA3939;
	font-size: 30px;
}

ul ul {
	margin-bottom: 10px;
}

#intro-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#intro-pic {
	width: 220px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 50px;
}

#about-me {
	background-color: #F5EEE2;
	line-height: 1.5;
}

#contact-me {
	background-color: #F5EEE2;
}

#contact-buttons {
	text-align: center;
}

#contact-buttons a {
	display: inline-block;
	margin: auto 20px;
	text-decoration: none;
}

.title {
	color: #AA3939;
	font-size: 100px;
}

.name {
	margin-top: 70px;
	margin-bottom: 20px;
}

.subtitle {
	margin-top: 50px;
	color: #F5EEE2;
	font-size: 48px;
}

.intro-link {
	color: #F5EEE2;
	text-decoration: none;
}

.section-title {
	margin-top: 70px;
	margin-bottom: 50px;
	text-align: center;
}

.profile-pic {
  width: 200px;
  height: auto;
  margin-right: 20px;
  display: block;
  margin: 0 auto;
}

.about-me-pg {
	font-size: 25px;
	text-align: justify;
  font-family: goudy-bookletter;
}

.list {
	list-style-type: none;
	font-family: goudy-bookletter;
	font-size: 20px;
}

.font-fix {
	font-family: serif;
}

.list-title, .list-subtitle, .project-tech span {
	font-family: 'Vollkorn', serif;
	font-weight: bolder;
}

.list-title {
	font-size: 22px;
}

.fa {
	color: brown;
}

.complete-year {
	margin-left: 10px;
	color: gray;
	font-size: 16px;
}

.single-project {
	margin-bottom: 50px;
	padding: 20px;
	background: rgb(245,238,226);
  background: rgba(245,238,226,0.8);
}

.project-title, .project-tech, .project-detail {
	margin-top: 5px;
	text-align: center;
}

.project-title, .project-detail {
	font-family: goudy-bookletter;
}

.project-screenshot {
	opacity: 1;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-o-transition: color 2s ease-out;
	transition: opacity .25s ease-in-out;
}

.project-screenshot:hover {
	opacity: 0.5;
}

.project-title {
	margin-bottom: 5px;
}

.project-title p {
	color:  #AA3939;
	font-size: 34px;
	margin: 0px;
}

.project-links li {
  display: inline-block;
	list-style-type: none;
	padding-right: 20px;
}

.project-links i {
	font-size: 38px;
  color: #001F3F;
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
}

.project-links .fa-github:hover {
  color: red;
  cursor: pointer;
}

.project-links .fa-chevron-circle-up:hover {
  color: green;
  cursor: pointer;
}

.project-tech span:nth-child(odd) {
	color: #AA3939;
	font-family: 'Vollkorn', serif;
	font-size: 22px;
	padding: 2px;
	margin: 4px;
}

.project-detail {
	font-size: 24px;
}

.link-color-change {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.link-color-change:hover {
	color: #00BFFF;
}

.link-color-change:active {
	color: #1E90FF;
}

.link-text {
	display: block;
	font-size: 24px;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* For mobile devices */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


@media (min-width: 494) {
	.subtitle {font-size: 60px;}
}

@media (min-width: 516px) {
	.subtitle {font-size: 60px;}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
 .col-m-1 {width: 8.33%;}
 .col-m-2 {width: 16.66%;}
 .col-m-3 {width: 25%;}
 .col-m-4 {width: 33.33%;}
 .col-m-5 {width: 41.66%;}
 .col-m-6 {width: 50%;}
 .col-m-7 {width: 58.33%;}
 .col-m-8 {width: 66.66%;}
 .col-m-9 {width: 75%;}
 .col-m-10 {width: 83.33%;}
 .col-m-11 {width: 91.66%;}
 .col-m-12 {width: 100%;}
 .subtitle {font-size: 60px;}
 .profile-pic {max-height: 480px; width: auto;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%; margin: auto;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%; margin: auto;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	.subtitle {font-size: 60px;}
	.profile-pic {max-height: 480px; width: auto;}
	.change-order {display: flex;}
	.change-order a {order: 2;}
	.change-order .project-info {order: 1;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%; margin: auto;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%; margin: auto;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
	.subtitle {font-size: 60px;}
	.profile-pic {max-height: 480px; width: auto;}
	.change-order {display: flex;}
	.change-order a {order: 2;}
	.change-order .project-info {order: 1;}
}
