* {
  box-sizing: border-box;
}

body {
  margin: 0;
	font-family: 'Merriweather', serif;
}

header, section, footer {
	width: 100%;
	padding: 80px 7%;
	display: table;
	margin: 0;
	max-width: none;
	background-color: #23251F;
	padding-top: 80px;
}

hX {
	margin-left: 5px;
	color: #AA3939;
	font-size: 30px;
	font-weight: bold;
}

ul ul {
	margin-bottom: 10px;
}

#intro-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#intro-pic {
	width: 140px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 50px;
}

#about-me {
	background-color: #F5EEE2;
	line-height: 1.5;
}

#contact-me {
	background-color: #F5EEE2;
}

#contact-buttons {
	text-align: center;
}

#contact-buttons a {
	display: inline-block;
	margin: auto 20px;
	text-decoration: none;
}

.title {
	color: #AA3939;
	font-size: 58px;
	font-weight: bold;
}

.name {
	margin-top: 70px;
	margin-bottom: 20px;
}

.subtitle {
	margin-top: 50px;
	color: #F5EEE2;
	font-size: 26px;
}

.intro-link {
	color: #F5EEE2;
	text-decoration: none;
}

.section-title {
	margin-top: 70px;
	margin-bottom: 100px;
	text-align: center;
}

.profile-pic {
  width: 200px;
  height: auto;
  margin-right: 20px;
  display: block;
  margin: 0 auto;
}

.about-me-pg {
	font-size: 20px;
}

.list {
	list-style-type: none;
	font-size: 16px;
}

.list-title, .list-subtitle, .project-tech span {
	font-weight: bold;
}

.list-title {
	font-size: 18px;
}

.fa {
	color: brown;
}

.complete-year {
	margin-left: 10px;
	color: gray;
	font-size: 14px;
}

.single-project {
	margin-bottom: 50px;
	padding: 20px;
	background: rgb(245,238,226);
}

.project-tech, .project-detail {
	margin-top: 5px;
	text-align: center;
}

.project-screenshot {
	opacity: 1;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-o-transition: color 2s ease-out;
	transition: opacity .25s ease-in-out;
}

.project-screenshot:hover {
	opacity: 0.5;
}

.project-title {
	margin-bottom: 5px;
  text-align: center;
}

.project-title p {
  margin-top: 0;
	color:  #AA3939;
	font-size: 34px;
	font-weight: bold;
}

.project-links {
  text-align: center;
}

.project-links a {
	border: 1px #AA3939 solid;
  margin-right: 20px;
	padding: 2px;
	font-size: 24px;
  color: #AA3939;
	text-decoration: none;
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
}

.project-links .source-link:hover {
  color: red;
	border-color: red;
  cursor: pointer;
}

.project-links .live-link:hover {
  color: green;
	border-color: green;
  cursor: pointer;
}

.project-tech span:nth-child(odd) {
	color: #AA3939;
	font-size: 22px;
	padding: 2px;
	margin: 4px;
}

.project-detail {
	font-size: 20px;
}

.contact-link {
	color: #23251F;
}

.contact-link-text {
  display: none;
}

.link-color-change {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.link-color-change:hover {
	color: #AA3939;;
}

.link-color-change:active {
	color: red;
}

.link-text {
	display: block;
	font-size: 24px;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* For mobile devices */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  #about-me-story {margin: auto; max-width: 65%;}
  #contact-buttons a {display: inline-block; margin: auto 78px; text-decoration: none;}
  .title {font-size: 90px;}
  .subtitle {font-size: 50px;}
  .profile-pic {max-height: 480px; width: auto;}
  .about-me-pg {font-size: 25px;}
  .list {font-size: 20px;}
  .list-title {font-size: 22px;}
  .complete-year {font-size: 16px;}
}

@media (min-width: 885px) {
  #contact-buttons a {display: inline-block; margin: auto 18px; text-decoration: none;}
  .contact-link-text {display: block; font-size: 18px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%; margin: auto;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%; margin: auto;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
  #intro-content, #projects-content, .content {margin: auto; max-width: 88%;}
	.title {font-size:100px;}
	.subtitle {font-size: 60px;}
	.change-order {display: flex;}
	.change-order a {order: 2;}
	.change-order .project-info {order: 1; margin-top: 0;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%; margin: auto;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%; margin: auto;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
